body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 2;

        section {
            max-width: 800px;
            margin: 50px auto;
        }
    }
}

.display-movies {

    strong {
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        border: 1px dotted #333;
        padding: 0.3em;
        font-weight: bolder;
    }

}